openapi: 3.1.0
info:
  title: Amazon Advertising Ad Groups Charge Permissions API
  description: The Amazon Advertising API enables programmatic management of advertising campaigns on Amazon. It provides access to Sponsored Products, Sponsored Brands, and Sponsored Display campaigns across various marketplaces. Developers can create, manage, and optimize advertising campaigns, access reporting data, and manage budgets and targeting through this REST API.
  version: '1.0'
  contact:
    name: Amazon Advertising Support
    url: https://advertising.amazon.com/API/docs/en-us
  termsOfService: https://advertising.amazon.com/terms
servers:
- url: https://advertising-api.amazon.com
  description: North America
- url: https://advertising-api-eu.amazon.com
  description: Europe
- url: https://advertising-api-fe.amazon.com
  description: Far East
- url: https://advertising-api-test.amazon.com
  description: Test/Sandbox
security:
- bearerAuth: []
tags:
- name: Charge Permissions
  description: Manage buyer charge authorizations
paths:
  /chargePermissions/{chargePermissionId}:
    get:
      operationId: getChargePermission
      summary: Amazon Get Charge Permission
      description: Returns details about the specified charge permission.
      tags:
      - Charge Permissions
      parameters:
      - name: chargePermissionId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/PayDate'
      - $ref: '#/components/parameters/PayRegion'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargePermission'
        '404':
          description: Not found
    patch:
      operationId: updateChargePermission
      summary: Amazon Update Charge Permission
      description: Updates the specified charge permission.
      tags:
      - Charge Permissions
      parameters:
      - name: chargePermissionId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/PayDate'
      - $ref: '#/components/parameters/PayRegion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                merchantMetadata:
                  $ref: '#/components/schemas/MerchantMetadata'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargePermission'
        '400':
          description: Bad request
  /chargePermissions/{chargePermissionId}/close:
    delete:
      operationId: closeChargePermission
      summary: Amazon Close Charge Permission
      description: Closes the specified charge permission so no further charges can be made.
      tags:
      - Charge Permissions
      parameters:
      - name: chargePermissionId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/PayDate'
      - $ref: '#/components/parameters/PayRegion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - closureReason
              properties:
                closureReason:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargePermission'
        '400':
          description: Bad request
components:
  schemas:
    Price:
      type: object
      required:
      - amount
      - currencyCode
      properties:
        amount:
          type: string
        currencyCode:
          type: string
    ChargePermission:
      type: object
      properties:
        chargePermissionId:
          type: string
        chargePermissionType:
          type: string
          enum:
          - OneTime
          - Recurring
        buyer:
          $ref: '#/components/schemas/Buyer'
        shippingAddress:
          $ref: '#/components/schemas/Address'
        billingAddress:
          $ref: '#/components/schemas/Address'
        statusDetails:
          $ref: '#/components/schemas/StatusDetails'
        limits:
          type: object
          properties:
            amountLimit:
              $ref: '#/components/schemas/Price'
            amountBalance:
              $ref: '#/components/schemas/Price'
        creationTimestamp:
          type: string
          format: date-time
        expirationTimestamp:
          type: string
          format: date-time
    StatusDetails:
      type: object
      properties:
        state:
          type: string
        reasonCode:
          type: string
        reasonDescription:
          type: string
    MerchantMetadata:
      type: object
      properties:
        merchantReferenceId:
          type: string
        merchantStoreName:
          type: string
        noteToBuyer:
          type: string
    Address:
      type: object
      properties:
        name:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressLine3:
          type: string
        city:
          type: string
        stateOrRegion:
          type: string
        postalCode:
          type: string
        countryCode:
          type: string
        phoneNumber:
          type: string
    Buyer:
      type: object
      properties:
        buyerId:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
  parameters:
    PayDate:
      name: x-amz-pay-date
      in: header
      required: true
      schema:
        type: string
        format: date-time
    PayRegion:
      name: x-amz-pay-region
      in: header
      required: true
      schema:
        type: string
        enum:
        - us
        - eu
        - jp
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token from Login with Amazon
externalDocs:
  description: Amazon Advertising API Documentation
  url: https://advertising.amazon.com/API/docs/en-us/reference/api-overview
