openapi: 3.2.0
info:
  title: Amazon Selling Partner Inventory API
  description: The Amazon Selling Partner API (SP-API) is a RESTful API that enables Amazon sellers and vendors to programmatically manage their marketplace operations including listings, orders, payments, reports, and fulfillment. It replaces the deprecated Amazon Marketplace Web Service (MWS) and provides access to region-specific endpoints for North America, Europe, and Far East marketplaces.
  version: '2026-01-01'
  contact:
    name: Amazon Seller Support
    url: https://developer-docs.amazon.com/sp-api
  termsOfService: https://developer-docs.amazon.com/sp-api/docs/terms-of-service
servers:
- url: https://sellingpartnerapi-na.amazon.com
  description: North America
- url: https://sellingpartnerapi-eu.amazon.com
  description: Europe
- url: https://sellingpartnerapi-fe.amazon.com
  description: Far East
security:
- bearerAuth: []
tags:
- name: Inventory
  description: Manage FBA inventory
paths:
  /fba/inventory/v1/summaries:
    get:
      operationId: getInventorySummaries
      summary: Amazon Get Inventory Summaries
      description: Returns a list of inventory summaries with information about condition, available quantity, and fulfillment status.
      tags:
      - Inventory
      parameters:
      - $ref: '#/components/parameters/MarketplaceIds'
      - name: granularityType
        in: query
        required: true
        schema:
          type: string
          enum:
          - Marketplace
      - name: granularityId
        in: query
        required: true
        schema:
          type: string
      - name: sellerSkus
        in: query
        schema:
          type: array
          items:
            type: string
      - name: nextToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventorySummaries'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
components:
  schemas:
    InventorySummaries:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        inventorySummaries:
          type: array
          items:
            type: object
            properties:
              asin:
                type: string
              fnSku:
                type: string
              sellerSku:
                type: string
              condition:
                type: string
              inventoryDetails:
                type: object
                properties:
                  fulfillableQuantity:
                    type: integer
                  inboundWorkingQuantity:
                    type: integer
                  inboundShippedQuantity:
                    type: integer
                  inboundReceivingQuantity:
                    type: integer
                  reservedQuantity:
                    type: object
                  unfulfillableQuantity:
                    type: object
    Pagination:
      type: object
      properties:
        nextToken:
          type: string
        previousToken:
          type: string
  parameters:
    MarketplaceIds:
      name: MarketplaceIds
      in: query
      required: true
      schema:
        type: array
        items:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token obtained via Login with Amazon (LWA)
externalDocs:
  description: Amazon SP-API Documentation
  url: https://developer-docs.amazon.com/sp-api
