openapi: 3.2.0
info:
  title: Amazon Pay Refunds API
  description: The Amazon Pay API enables merchants to integrate Amazon Pay for payment processing on their websites and mobile applications. It supports one-time purchases, subscriptions, and recurring payments. The API provides checkout session management, charge operations, and refund capabilities with both production and sandbox environments for testing.
  version: '2.0'
  contact:
    name: Amazon Pay Developer Support
    url: https://developer.amazon.com/docs/amazon-pay-api-v2/introduction.html
  termsOfService: https://pay.amazon.com/help/201751590
servers:
- url: https://pay-api.amazon.com/live/v2
  description: US Production
- url: https://pay-api.amazon.com/sandbox/v2
  description: US Sandbox
- url: https://pay-api.amazon.eu/live/v2
  description: EU Production
- url: https://pay-api.amazon.jp/live/v2
  description: Japan Production
security:
- amazonPaySignature: []
tags:
- name: Refunds
  description: Process refunds on captured charges
paths:
  /refunds:
    post:
      operationId: createRefund
      summary: Amazon Create a Refund
      description: Creates a refund for a previously captured charge.
      tags:
      - Refunds
      parameters:
      - $ref: '#/components/parameters/PayDate'
      - $ref: '#/components/parameters/PayRegion'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          description: Bad request
  /refunds/{refundId}:
    get:
      operationId: getRefund
      summary: Amazon Get Refund Details
      description: Returns details about the specified refund.
      tags:
      - Refunds
      parameters:
      - name: refundId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/PayDate'
      - $ref: '#/components/parameters/PayRegion'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '404':
          description: Not found
components:
  parameters:
    PayRegion:
      name: x-amz-pay-region
      in: header
      required: true
      schema:
        type: string
        enum:
        - us
        - eu
        - jp
    PayDate:
      name: x-amz-pay-date
      in: header
      required: true
      schema:
        type: string
        format: date-time
    IdempotencyKey:
      name: x-amz-pay-idempotency-key
      in: header
      required: true
      schema:
        type: string
  schemas:
    CreateRefundRequest:
      type: object
      required:
      - chargeId
      - refundAmount
      properties:
        chargeId:
          type: string
        refundAmount:
          $ref: '#/components/schemas/Price'
        softDescriptor:
          type: string
          maxLength: 16
    Refund:
      type: object
      properties:
        refundId:
          type: string
        chargeId:
          type: string
        refundAmount:
          $ref: '#/components/schemas/Price'
        softDescriptor:
          type: string
        statusDetails:
          $ref: '#/components/schemas/StatusDetails'
        creationTimestamp:
          type: string
          format: date-time
    StatusDetails:
      type: object
      properties:
        state:
          type: string
        reasonCode:
          type: string
        reasonDescription:
          type: string
    Price:
      type: object
      required:
      - amount
      - currencyCode
      properties:
        amount:
          type: string
        currencyCode:
          type: string
  securitySchemes:
    amazonPaySignature:
      type: apiKey
      in: header
      name: authorization
      description: AMZN-PAY-RSASSA-PSS-V2 signature using merchant private key
externalDocs:
  description: Amazon Pay API Documentation
  url: https://developer.amazon.com/docs/amazon-pay-api-v2/introduction.html
