openapi: 3.2.0
info:
  title: Amazon Selling Partner Catalog API
  description: The Amazon Selling Partner API (SP-API) is a RESTful API that enables Amazon sellers and vendors to programmatically manage their marketplace operations including listings, orders, payments, reports, and fulfillment. It replaces the deprecated Amazon Marketplace Web Service (MWS) and provides access to region-specific endpoints for North America, Europe, and Far East marketplaces.
  version: '2026-01-01'
  contact:
    name: Amazon Seller Support
    url: https://developer-docs.amazon.com/sp-api
  termsOfService: https://developer-docs.amazon.com/sp-api/docs/terms-of-service
servers:
- url: https://sellingpartnerapi-na.amazon.com
  description: North America
- url: https://sellingpartnerapi-eu.amazon.com
  description: Europe
- url: https://sellingpartnerapi-fe.amazon.com
  description: Far East
security:
- bearerAuth: []
tags:
- name: Catalog
  description: Search and retrieve catalog item information
paths:
  /catalog/2022-04-01/items:
    get:
      operationId: searchCatalogItems
      summary: Amazon Search Catalog Items
      description: Search for and return a list of Amazon catalog items and associated information either by identifiers or by keywords.
      tags:
      - Catalog
      parameters:
      - $ref: '#/components/parameters/MarketplaceIds'
      - name: keywords
        in: query
        schema:
          type: array
          items:
            type: string
      - name: identifiers
        in: query
        schema:
          type: array
          items:
            type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          maximum: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogItemList'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /catalog/2022-04-01/items/{asin}:
    get:
      operationId: getCatalogItem
      summary: Amazon Get Catalog Item
      description: Retrieves details for an item in the Amazon catalog by ASIN.
      tags:
      - Catalog
      parameters:
      - name: asin
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/MarketplaceIds'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogItem'
        '400':
          description: Bad request
        '404':
          description: Not found
components:
  parameters:
    MarketplaceIds:
      name: MarketplaceIds
      in: query
      required: true
      schema:
        type: array
        items:
          type: string
  schemas:
    Pagination:
      type: object
      properties:
        nextToken:
          type: string
        previousToken:
          type: string
    CatalogItem:
      type: object
      properties:
        asin:
          type: string
        attributes:
          type: object
        images:
          type: array
          items:
            type: object
        salesRanks:
          type: array
          items:
            type: object
    CatalogItemList:
      type: object
      properties:
        numberOfResults:
          type: integer
        pagination:
          $ref: '#/components/schemas/Pagination'
        items:
          type: array
          items:
            $ref: '#/components/schemas/CatalogItem'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token obtained via Login with Amazon (LWA)
externalDocs:
  description: Amazon SP-API Documentation
  url: https://developer-docs.amazon.com/sp-api
