openapi: 3.2.0
info:
  title: Amazon Pay Charges API
  description: The Amazon Pay API enables merchants to integrate Amazon Pay for payment processing on their websites and mobile applications. It supports one-time purchases, subscriptions, and recurring payments. The API provides checkout session management, charge operations, and refund capabilities with both production and sandbox environments for testing.
  version: '2.0'
  contact:
    name: Amazon Pay Developer Support
    url: https://developer.amazon.com/docs/amazon-pay-api-v2/introduction.html
  termsOfService: https://pay.amazon.com/help/201751590
servers:
- url: https://pay-api.amazon.com/live/v2
  description: US Production
- url: https://pay-api.amazon.com/sandbox/v2
  description: US Sandbox
- url: https://pay-api.amazon.eu/live/v2
  description: EU Production
- url: https://pay-api.amazon.jp/live/v2
  description: Japan Production
security:
- amazonPaySignature: []
tags:
- name: Charges
  description: Create and manage payment charges
paths:
  /charges:
    post:
      operationId: createCharge
      summary: Amazon Create a Charge
      description: Creates a charge against a charge permission to authorize payment.
      tags:
      - Charges
      parameters:
      - $ref: '#/components/parameters/PayDate'
      - $ref: '#/components/parameters/PayRegion'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChargeRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '400':
          description: Bad request
  /charges/{chargeId}:
    get:
      operationId: getCharge
      summary: Amazon Get Charge Details
      description: Returns details about the specified charge.
      tags:
      - Charges
      parameters:
      - name: chargeId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/PayDate'
      - $ref: '#/components/parameters/PayRegion'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '404':
          description: Not found
  /charges/{chargeId}/capture:
    post:
      operationId: captureCharge
      summary: Amazon Capture a Charge
      description: Captures a previously authorized charge.
      tags:
      - Charges
      parameters:
      - name: chargeId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/PayDate'
      - $ref: '#/components/parameters/PayRegion'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - captureAmount
              properties:
                captureAmount:
                  $ref: '#/components/schemas/Price'
                softDescriptor:
                  type: string
                  maxLength: 16
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '400':
          description: Bad request
  /charges/{chargeId}/cancel:
    delete:
      operationId: cancelCharge
      summary: Amazon Cancel a Charge
      description: Cancels a previously authorized charge.
      tags:
      - Charges
      parameters:
      - name: chargeId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/PayDate'
      - $ref: '#/components/parameters/PayRegion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationReason:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '400':
          description: Bad request
components:
  parameters:
    PayRegion:
      name: x-amz-pay-region
      in: header
      required: true
      schema:
        type: string
        enum:
        - us
        - eu
        - jp
    PayDate:
      name: x-amz-pay-date
      in: header
      required: true
      schema:
        type: string
        format: date-time
    IdempotencyKey:
      name: x-amz-pay-idempotency-key
      in: header
      required: true
      schema:
        type: string
  schemas:
    StatusDetails:
      type: object
      properties:
        state:
          type: string
        reasonCode:
          type: string
        reasonDescription:
          type: string
    Charge:
      type: object
      properties:
        chargeId:
          type: string
        chargePermissionId:
          type: string
        chargeAmount:
          $ref: '#/components/schemas/Price'
        captureAmount:
          $ref: '#/components/schemas/Price'
        refundedAmount:
          $ref: '#/components/schemas/Price'
        softDescriptor:
          type: string
        statusDetails:
          $ref: '#/components/schemas/StatusDetails'
        creationTimestamp:
          type: string
          format: date-time
        expirationTimestamp:
          type: string
          format: date-time
    CreateChargeRequest:
      type: object
      required:
      - chargePermissionId
      - chargeAmount
      properties:
        chargePermissionId:
          type: string
        chargeAmount:
          $ref: '#/components/schemas/Price'
        captureNow:
          type: boolean
        softDescriptor:
          type: string
          maxLength: 16
        canHandlePendingAuthorization:
          type: boolean
    Price:
      type: object
      required:
      - amount
      - currencyCode
      properties:
        amount:
          type: string
        currencyCode:
          type: string
  securitySchemes:
    amazonPaySignature:
      type: apiKey
      in: header
      name: authorization
      description: AMZN-PAY-RSASSA-PSS-V2 signature using merchant private key
externalDocs:
  description: Amazon Pay API Documentation
  url: https://developer.amazon.com/docs/amazon-pay-api-v2/introduction.html
