openapi: 3.1.0
info:
  title: Amazon Advertising Ad Groups Campaigns API
  description: The Amazon Advertising API enables programmatic management of advertising campaigns on Amazon. It provides access to Sponsored Products, Sponsored Brands, and Sponsored Display campaigns across various marketplaces. Developers can create, manage, and optimize advertising campaigns, access reporting data, and manage budgets and targeting through this REST API.
  version: '1.0'
  contact:
    name: Amazon Advertising Support
    url: https://advertising.amazon.com/API/docs/en-us
  termsOfService: https://advertising.amazon.com/terms
servers:
- url: https://advertising-api.amazon.com
  description: North America
- url: https://advertising-api-eu.amazon.com
  description: Europe
- url: https://advertising-api-fe.amazon.com
  description: Far East
- url: https://advertising-api-test.amazon.com
  description: Test/Sandbox
security:
- bearerAuth: []
tags:
- name: Campaigns
  description: Campaign management operations
paths:
  /v2/sp/campaigns:
    get:
      operationId: listCampaigns
      summary: Amazon List Sponsored Products Campaigns
      description: Returns a list of Sponsored Products campaigns for the specified advertiser profile.
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/ProfileId'
      - name: startIndex
        in: query
        schema:
          type: integer
      - name: count
        in: query
        schema:
          type: integer
          maximum: 100
      - name: stateFilter
        in: query
        schema:
          type: string
          enum:
          - enabled
          - paused
          - archived
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Campaign'
        '401':
          description: Unauthorized
    post:
      operationId: createCampaigns
      summary: Amazon Create Sponsored Products Campaigns
      description: Creates one or more Sponsored Products campaigns.
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCampaignRequest'
      responses:
        '207':
          description: Multi-status
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CampaignResponse'
        '401':
          description: Unauthorized
    put:
      operationId: updateCampaigns
      summary: Amazon Update Sponsored Products Campaigns
      description: Updates one or more Sponsored Products campaigns.
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateCampaignRequest'
      responses:
        '207':
          description: Multi-status
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CampaignResponse'
        '401':
          description: Unauthorized
  /v2/sp/campaigns/{campaignId}:
    get:
      operationId: getCampaign
      summary: Amazon Get Campaign Details
      description: Returns a Sponsored Products campaign by campaign ID.
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/ProfileId'
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '404':
          description: Not found
    delete:
      operationId: archiveCampaign
      summary: Amazon Archive Campaign
      description: Sets the campaign status to archived.
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/ProfileId'
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        '404':
          description: Not found
components:
  schemas:
    CreateCampaignRequest:
      type: object
      required:
      - name
      - state
      - dailyBudget
      - startDate
      - targetingType
      properties:
        name:
          type: string
        state:
          type: string
          enum:
          - enabled
          - paused
        dailyBudget:
          type: number
        startDate:
          type: string
        endDate:
          type: string
        targetingType:
          type: string
          enum:
          - manual
          - auto
    UpdateCampaignRequest:
      type: object
      required:
      - campaignId
      properties:
        campaignId:
          type: string
        name:
          type: string
        state:
          type: string
        dailyBudget:
          type: number
    Campaign:
      type: object
      properties:
        campaignId:
          type: string
        name:
          type: string
        state:
          type: string
          enum:
          - enabled
          - paused
          - archived
        dailyBudget:
          type: number
        startDate:
          type: string
        endDate:
          type: string
        targetingType:
          type: string
          enum:
          - manual
          - auto
        premiumBidAdjustment:
          type: boolean
    CampaignResponse:
      type: object
      properties:
        campaignId:
          type: string
        code:
          type: string
        description:
          type: string
  parameters:
    ProfileId:
      name: Amazon-Advertising-API-Scope
      in: header
      required: true
      description: The advertising profile ID
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token from Login with Amazon
externalDocs:
  description: Amazon Advertising API Documentation
  url: https://advertising.amazon.com/API/docs/en-us/reference/api-overview
