openapi: 3.2.0
info:
  title: Amazon Ads Reports API
  version: '1.0'
  description: Amazon Ads v2 reporting operations (request a performance report, get report status), split from
    amazon-advertising-api-openapi.yml. The Selling Partner API Reports operations (/reports/2021-06-30) that this
    file previously combined are profiled in the amazon-seller-central repo from Amazon's official selling-partner-api-models.
servers:
- url: https://advertising-api.amazon.com
  description: North America
- url: https://advertising-api-eu.amazon.com
  description: Europe
- url: https://advertising-api-fe.amazon.com
  description: Far East
- url: https://advertising-api-test.amazon.com
  description: Test/Sandbox
security:
- bearerAuth: []
tags:
- name: Reports
  description: Reporting and analytics
paths:
  /v2/sp/{recordType}/report:
    post:
      operationId: requestReport
      summary: Amazon Request a Report
      description: Requests the creation of a performance report for the specified record type.
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/ProfileId'
      - name: recordType
        in: path
        required: true
        schema:
          type: string
          enum:
          - campaigns
          - adGroups
          - keywords
          - productAds
          - asins
          - targets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportRequestResponse'
        '401':
          description: Unauthorized
    servers:
    - url: https://advertising-api.amazon.com
      description: North America
    - url: https://advertising-api-eu.amazon.com
      description: Europe
    - url: https://advertising-api-fe.amazon.com
      description: Far East
    - url: https://advertising-api-test.amazon.com
      description: Test/Sandbox
  /v2/reports/{reportId}:
    get:
      operationId: getReport
      summary: Amazon Get Report Status
      description: Returns the status and download location of a previously requested report.
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/ProfileId'
      - name: reportId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportStatus'
        '404':
          description: Not found
    servers:
    - url: https://advertising-api.amazon.com
      description: North America
    - url: https://advertising-api-eu.amazon.com
      description: Europe
    - url: https://advertising-api-fe.amazon.com
      description: Far East
    - url: https://advertising-api-test.amazon.com
      description: Test/Sandbox
components:
  schemas:
    ReportRequest:
      type: object
      properties:
        reportDate:
          type: string
        metrics:
          type: string
        segment:
          type: string
    ReportRequestResponse:
      type: object
      properties:
        reportId:
          type: string
        status:
          type: string
    ReportStatus:
      type: object
      properties:
        reportId:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
        location:
          type: string
          format: uri
        fileSize:
          type: integer
    Report:
      type: object
      properties:
        reportId:
          type: string
        reportType:
          type: string
        processingStatus:
          type: string
          enum:
          - CANCELLED
          - DONE
          - FATAL
          - IN_PROGRESS
          - IN_QUEUE
        reportDocumentId:
          type: string
        createdTime:
          type: string
          format: date-time
  parameters:
    ProfileId:
      name: Amazon-Advertising-API-Scope
      in: header
      required: true
      description: The advertising profile ID
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token from Login with Amazon
x-refined-from:
- amazon-advertising-api-openapi.yml
- amazon-selling-partner-api-openapi.yml
